<div class="content_pane">
  <h1>All English Premier League Teams</h1>
  
  <%= paginate @teams %>
  
  <table>
  
  <% if @teams.blank? %>
  <tr><td>No team is available</td</tr>
  <% end %>
  
  <% @teams.each do |team| %>
    <tr>
      <td><%= image_tag team.image_url.blank? ? "default_avatar.gif":team.image_url.to_s, 
              :alt => team.name, :class => "team_logo_thumbnail" %></td>
      <td><%= link_to team.name, team %></td>
      <td><%= pluralize(team.fans.blank? ? 0:team.fans.size, 'fan') %></td>
    </tr>
  <% end %>
  
  </table>
  
  <%= paginate @teams %>
  
</div>