<div class="content_pane">
  <p id="notice"><%= notice %></p>
  
  <p>
    <%= image_tag (@profile.image_url.blank? ? "default_avatar.gif":@profile.image_url.to_s), 
      :alt => "User #{@profile.user.id}" %>
    <% if !user_signed_in? || (user_signed_in? && current_user.id != @profile.user.id) %>
      <%= link_to "Befriend", friendships_path(:friend_id => @profile.user), :method => :post %>
    <% end %>
  </p>
  
  <p>
    <b>First name:</b>
    <%= @profile.first_name %>
  </p>
  
  <p>
    <b>Last name:</b>
    <%= @profile.last_name %>
  </p>
  
  <p>
    <b>Points:</b>
    <%= @profile.points %>
  </p>
  
  <p>
    <b>Supports:</b>
    <%= @profile.user.team.name unless @profile.user.team.nil? %>
  </p>
  
  <% if user_signed_in? && current_user.id == @profile.user.id %>
    <%= link_to 'Edit', edit_profile_path(@profile.user.id) %>
  <% end %>
</div>
<div class="content_pane">
  <h1>Friends</h1>
  <% if @profile.user.friendships.blank? %>
    <p>You haven't befriended anyone.</p>
  <% else %>
    <table>
      <% @profile.user.friendships.each do |friendship| %>
        <tr>
          <td><%= image_tag (friendship.friend.profile.image_url.blank? ? "default_avatar.gif":
                  friendship.friend.profile.image_url.to_s),
                  :alt => "User #{friendship.friend.id}" %></td>
          <td><%= "User #{friendship.friend.id}: #{friendship.friend.email}" %></td>
          <td>
            <% if user_signed_in? && current_user.id == @profile.user.id %>
              <%= link_to "Unfriend", friendship, :method => :delete %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <% if @profile.user.inverse_friends.blank? %>
    <p>No one has befriended you yet.</p>
  <% else %>
    <table>
      <% @profile.user.inverse_friends.each do |friend| %>
        <tr>
          <td><%= image_tag (friend.profile.image_url.blank? ? "default_avatar.gif":
                  friend.profile.image_url.to_s),
                  :alt => "User #{friend.id}" %></td>
          <td><%= "User #{friend.id}: #{friend.email}" %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
