<div class="content_pane">
  <p id="notice"><%= notice %></p>
  
  <p>
    <%= image_tag (@profile.image_url.blank? ? "default_avatar.gif":@profile.image_url.to_s), 
      :alt => "User #{@profile.user.id}" %>
  </p>
  
  <p>
    <b>First name:</b>
    <%= @profile.first_name %>
  </p>
  
  <p>
    <b>Last name:</b>
    <%= @profile.last_name %>
  </p>
  
  <p>
    <b>Points:</b>
    <%= @profile.points %>
  </p>
  
  <p>
    <b>Supports:</b>
    <%= @profile.user.team.name unless @profile.user.team.nil? %>
  </p>
  
  <% if user_signed_in? && current_user.id == @profile.user.id %>
  <%= link_to 'Edit', edit_profile_path(@profile) %>
  <% end %>
</div>
