<div class="location_field">
  <%= f.label :name %><br />
  <%= f.text_field :name, :class => "long" %>
</div>
<div class="clear"></div>
<div class="location_field">
  <%= f.label :address %><br />
  <%= f.text_field :address %>
</div>
<div class="location_field">
  <%= f.label :cross_street %><br />
  <%= f.text_field :cross_street %>
</div>
<div class="clear"></div>
<div class="location_field">
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</div>
<div class="location_field">
  <%= f.label :state %><br />
  <%= f.text_field :state %>
</div>
<div class="clear"></div>
<div class="location_field">
  <%= f.label :postal_code %><br />
  <%= f.text_field :postal_code %>
</div>
<div class="location_field">
  <%= f.label :country_id %><br />
  <%= f.collection_select :country_id, Country.all, 
        :id, :name, :prompt => 'Please select country' %>
</div>
<div class="clear"></div>
<div class="hidden">
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
</div>
