<%= form_for [@game,@check_in] do |f| %>

  <% if @check_in.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@check_in.errors.count, "error") %> prohibited this check-in from being saved:</h2>
    
    <ul>
      <% @check_in.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="field">
    Your Location:<br />
    IP Address: <%= @location.ip_address %></br>
    Address: <%=  @location.address %><br />
    City: <%= @location.city %><br />
    Postal Code: <%= @location.postal_code %><br />
    Country: <%= @location.country.name %><br />
    Coordinate: <%= "#{@location.latitude}, #{@location.longitude}" %>
    <%#= f.label :time %>
    <%#= f.datetime_select :time %>
  </div>
  
  <div class="action">
    <%= f.submit "Check-in!", :id => "check_in_submit_button" %>
  </div>
  
<% end %>