<div id="search" class="content_pane">
  <h1>Search for Your Favourite Games!</h1>
  <%= form_tag games_search_path, :method => :get, :id => "games_search_form" do %>
    <p>
      <%= text_field_tag :search, params[:search] || "Manchester United" %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  <%= gmaps("map_options" => { 
                  "detect_location" => false,
                  "auto_zoom" => false,
                  "zoom" => 10
            }, "markers" => { 
                  "data" => @json 
            }) %>
</div>
<div class="content_pane">
  <h1>Recent Activity</h1>
  <% @activities.each do |activity| %>
    <div class="recent_activity">
      <div class="activity_user_thumbnail">
        <%= image_tag (activity.user.profile.image_url.blank? ? "default_avatar.gif":activity.user.profile.image_url.to_s), 
        :alt => "User #{activity.user.id}" %>
      </div>
      <div class="activity_desc">
        <%= link_to("#{activity.user.profile.first_name} #{activity.user.profile.last_name}", 
        profile_path(activity.user)) %>
        <%= " in #{activity.target.location.name}" %> <br />
        checked-in the game 
        <%= link_to("#{activity.target.game.home_team.name} vs #{activity.target.game.away_team.name}",
        game_path(activity.target.game.id)) %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
</div>