<div class="content_pane">
  <p id="notice"><%= notice %></p>
  <h2>Game</h2>
  <p>
    <%= @game.time.strftime('%b %d, %Y at %H:%M') %> - <%= @game.status %>    
    <% if user_signed_in? && !current_user.has_checked_in?(@game.id) %>
      <%= button_to 'Check-In', game_check_ins_path(@game) %>
    <% elsif user_signed_in? && current_user.has_checked_in?(@game.id) %>
      Checked-in!
    <% else %>
      <%= link_to "Login to check-in", new_user_session_path %>
    <% end %>
  </p>
  <p>
    <%= image_tag @game.home_team.image_url, :alt => @game.home_team.name %>
    <%= @game.home_team.name %>
    <%= "#{@game.home_score} - #{@game.away_score}" %>
    <%= @game.away_team.name %>
    <%= image_tag @game.away_team.image_url, :alt => @game.away_team.name %>
  </p>
</div>
<div class="content_pane">
  <h2>Remote Check-in Map</h2>
  <%= gmaps(:map_options => { 
                    :detect_location => false,
                    :auto_zoom => false,
                    :zoom => 14
              }, :markers => { 
                    :data => @json,
                    :options => {
                        :draggable => false
                    }
              }) %>
</div>

<div class="content_pane">
  <h2>Predictions</h2>
  <% if user_signed_in? && !@prediction.nil? %>
    <%= render 'predictions/form' %>
  <% else %>
    <p>Please <%= link_to "log in", new_user_session_path %> to add prediction!</p>
  <% end %>
  <div class="clear"></div>
  <% if @game.predictions.blank? %>
    <p>No prediction yet</p>
  <% end %>
  <% @game.predictions.each do |prediction| %>
    <%= "#{prediction.user.email} predicts:" %>
    <p>
      <%= "#{@game.home_team.name} #{prediction.home_score} vs #{prediction.away_score} #{@game.away_team.name}" %><br />
      Predicted on <%= prediction.created_at.strftime('%b %d, %Y at %H:%M') %>
    </p>
  <% end %>
</div>
<div class="content_pane">
  <h2>Shoot Your Comments</h2>
  <% if user_signed_in? && !@comment.nil? %>
    <%= render 'comments/form' %>
  <% else %>
    <p>Please <%= link_to "log in", new_user_session_path %> to shoot your comments!</p>
  <% end %>
  <div class="clear"></div>
  <% if @game.comment_threads.blank? %>
    <p>No shoots yet</p>
  <% end %>
  <% @game.comment_threads.each do |comment| %>
    <%= "#{comment.user.email} shoots:" %>
    <p>
      <%= comment.body %><br />
      Shot at <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %>
    </p>
  <% end %>
</div>