<div class="content_pane">
  <p id="notice"><%= notice %></p>
  <h2>Game</h2>
  <p>
    <%= @game.time %>
  </p>
  
  <p>
    <%= @game.status %>
  </p>
  
  <p>
    <%= image_tag @game.home_team.image_url, :alt => @game.home_team.name %>
    <%= @game.home_team.name %>
    <%= "#{@game.home_score} - #{@game.away_score}" %>
    <%= @game.away_team.name %>
    <%= image_tag @game.away_team.image_url, :alt => @game.away_team.name %>
  </p>
</div>
<div class="content_pane">
  <h2>Comments</h2>
  <% if @game.comment_threads.blank? %>
    <p>No comments</p>
  <% end %>
  <% @game.comment_threads.each do |comment| %>
  <p><%= comment.body %></p>
  <% end %>
  
  <h3>Add Comment</h3>
  <p>todo</p>
</div>