<div class="content_pane">
  <p id="notice"><%= notice %></p>
  <h2>Game</h2>
  <p>
    <%= @game.time.strftime('%b %d, %Y at %H:%M') %> - <%= @game.status %>
  </p>
  <p>
    <%= image_tag @game.home_team.image_url, :alt => @game.home_team.name %>
    <%= @game.home_team.name %>
    <%= "#{@game.home_score} - #{@game.away_score}" %>
    <%= @game.away_team.name %>
    <%= image_tag @game.away_team.image_url, :alt => @game.away_team.name %>
  </p>
</div>
<div class="content_pane">
  <h2>Comments</h2>
  <% if @game.comment_threads.blank? %>
    <p>No comments</p>
  <% end %>
  <% @game.comment_threads.each do |comment| %>
    <%= "#{comment.user.email} comments:" %>
    <p>
      <%= comment.body %><br />
      Posted on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %>
    </p>
  <% end %>
  
  <h3>Add New Comment</h3>
  <% if user_signed_in? && !@comment.nil? %>
    <%= render 'comments/form' %>
  <% else %>
    <p>Please <%= link_to "log in", new_user_session_path %> to add comment!</p>
  <% end %>
</div>