<div class="content_pane">
  <p id="notice"><%= notice %></p>
  
  <p>
    <b>Time:</b>
    <%= @game.time %>
  </p>
  
  <p>
    <b>Home score:</b>
    <%= @game.home_score %>
  </p>
  
  <p>
    <b>Away score:</b>
    <%= @game.away_score %>
  </p>
  
  <p>
    <b>Status:</b>
    <%= @game.status %>
  </p>
</div>