<div class="content_pane">
  <p id="notice"><%= notice %></p>
  
  <p>
    <%= @game.time %>
  </p>
  
  <p>
    <%= @game.status %>
  </p>
  
  <p>
    <%= image_tag @game.home_team.image_url, :alt => @game.home_team.name %>
    <%= @game.home_team.name %>
    <%= "#{@game.home_score} - #{@game.away_score}" %>
    <%= @game.away_team.name %>
    <%= image_tag @game.away_team.image_url, :alt => @game.away_team.name %>
  </p>
</div>