<div class="content_pane">
  <h2 class="left">Game</h2>
  <%= render "layouts/sharethis_vcount" %>
  <div class="clear"></div>
  <p>
    <%= @game.time.strftime('%b %d, %Y at %H:%M') %> - <%= @game.status %>    
    <% if user_signed_in? && !current_user.has_checked_in?(@game.id) %>
      <%= link_to 'Check-In', new_game_check_ins_path(@game), :class => "grey_button" %>
    <% elsif user_signed_in? && current_user.has_checked_in?(@game.id) %>
      Checked-in!
    <% else %>
      <%= link_to "Login to check-in", new_user_session_path %>
    <% end %>
  </p>
  <p>
    <%= image_tag @game.home_team.image_url, :alt => @game.home_team.name %>
    <%= link_to @game.home_team.name, @game.home_team %>
    <%= "#{@game.home_score} - #{@game.away_score}" %>
    <%= link_to @game.away_team.name, @game.away_team %>
    <%= image_tag @game.away_team.image_url, :alt => @game.away_team.name %>
  </p>
  <%= link_to "Thumb Up", game_thumbs_up_path, :class => "grey_button" %>
  <%= link_to "Thumb Down", game_thumbs_down_path, :class => "grey_button" %>
  <%= "#{pluralize(@game.votes_for, "Up")}"  %>
  <%= "#{pluralize(@game.votes_against, "Down")}"  %>
</div>
<div class="content_pane">
  <div><h2>Remote Check-in Map</h2></div>
  <%= gmaps(:map_options => { 
                    :detect_location => false,
                    :auto_zoom => false,
                    :zoom => @json.blank? ? 1 : 10,
              }, :markers => { 
                    :data => @json,
                    :options => {
                        :draggable => false
                    }
              }) %>
</div>

<div class="content_pane">
  <h2>Predictions</h2>
  <% if user_signed_in? && !@prediction.nil? %>
    <%= render 'predictions/form' %>
  <% else %>
    <p>Please <%= link_to "log in", new_user_session_path %> to add prediction!</p>
  <% end %>
  <div class="clear"></div>
  <% if @game.predictions.blank? %>
    <p>No prediction yet</p>
  <% end %>
  <% @game.predictions.each do |prediction| %>
    <%= render prediction %>
  <% end %>
</div>
<div class="content_pane">
  <h2>Shoot Your Comments</h2>
  <% if user_signed_in? && !@comment.nil? %>
    <%= render 'comments/form' %>
  <% else %>
    <p>Please <%= link_to "log in", new_user_session_path %> to shoot your comments!</p>
  <% end %>
  <div class="clear"></div>
  <% if @game.comment_threads.blank? %>
    <p>No shoots yet</p>
  <% end %>
  <% @game.comment_threads.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
