<!DOCTYPE html>
<html>
	<head>
		<title>Cheerlist</title>
		<%= stylesheet_link_tag :all %>
		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
		<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
		<%= stylesheet_link_tag 'style', :media => 'screen' %> <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= render "layouts/nav" %>
		<%= render "layouts/main" %>
		<%= render "layouts/footer" %>
	</body>
</html>
